<!DOCTYPE html>
<html lang="en">
    <%- include('layouts/header'); -%>  
    <body>
        <!-- Navigation-->
        <%- include('layouts/navbar'); -%>
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('/assets/img/about-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>Edit Post</h1>                            
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>Edit Post</p>
                        <div class="my-5">
                            <!-- * * * * * * * * * * * * * * *-->
                            <!-- * * SB Forms Contact Form * *-->
                            <!-- * * * * * * * * * * * * * * *-->
                            <!-- This form is pre-integrated with SB Forms.-->
                            <!-- To make this form functional, sign up at-->
                            <!-- https://startbootstrap.com/solution/contact-forms-->
                            <!-- to get an API token!-->
                            <form id="postForm" data-sb-form-api-token="API_TOKEN" action="/save_post/<%= blogpost._id %>" method="POST">
                                <div class="form-floating">
                                    <input class="form-control" id="blog_title" name="blog_title" type="text" value="<%= blogpost.title%>"/>
                                    <label for="name">Blog Title</label>                                    
                                </div>                                                              
                                <div class="form-floating">
                                    <textarea class="form-control" id="blog_content" name="blog_content" style="height: 12rem"><%= blogpost.body %></textarea>
                                    <label for="message">Blog Content</label>                                    
                                </div>
                                <br />
                                <!-- Submit Button-->
                                <button class="btn btn-primary text-uppercase" id="save_post_Button" type="submit">Save Post</button>
                                <a class="btn btn-outline-dark cancel" href="/">Cancel</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- Footer-->
        <%- include('layouts/footer'); -%>
        <%- include('layouts/scripts'); -%>
    </body>
</html>