<!doctype html>
<html lang="en">
<%- include('layouts/header_new'); -%>  
<body>    
    <!-- Navigation-->
    <%- include('layouts/navbar_new'); -%>

    <% if (locals.userMessage) { %>
        <div class="mb-0 alert alert-success text-center" role="alert">
            <%= userMessage %>
        </div>
    <% } %>  
    
    <!-- Header section-->
    <div class="container-fluid bg-primary text-white">
        <h1 class="p-3 text-center">Film Blog!</h1>
        <p class="p-3 text-center">A different kind of film blog</p>
    </div> 
            
    <!-- Blog Posts preview section-->
        
    <div class="container">                
        <div class="row">
            <% for (var i = 0; i < blogposts.length; i++) { %>
            <div class="col-lg-4 mb-5">
                <div class="card h-100 shadow border-0">                            
                    <div class="card-body p-4">                                
                        <a class="text-decoration-none link-dark stretched-link" href="/posts/view_post/<%= blogposts[i]._id %>"><h5 class="card-title mb-3"><%= blogposts[i].title %></h5></a>
                    </div>
                    <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                        <div class="d-flex align-items-end justify-content-between">
                            <div class="d-flex align-items-center">                                        
                                <div class="small">
                                    <div class="text-muted">First Posted on <%= blogposts[i].date_posted %></div>
                                    <hr>
                                    <div class="text-muted">Post Updated on <%= blogposts[i].date_updated %></div>
                                    <hr>
                                    <div class="text-muted">Posted by <%= blogposts[i].userId.name %></div>
                                </div>
                            </div>
                        </div>
                    </div>                            
                </div>
            </div>
            <% } %>
        </div>                   
    </div>
        
    
    <!-- Footer-->
    <%- include('layouts/footer_new'); -%>
    <%- include('layouts/scripts_new'); -%>
</body>
</html>