<!doctype html>
<html lang="en">
<%- include('layouts/header_new'); -%>  
<body>    
    <!-- Navigation-->
    <%- include('layouts/navbar_new'); -%>

    <% if (locals.userMessage) { %>
        <div class="mb-0 alert alert-success text-center" role="alert">
            <%= userMessage %>
        </div>
    <% } %>  
    
    <!-- Header section-->
    <div class="container-fluid bg-primary text-white">
        <h1 class="py-3 text-center">Film Blog</h1>
        <p class="py-3 text-center">A different kind of film blog</p>
    </div> 
            
    <!-- Blog Posts preview section--> 

    <div class="container">        
        <div class="row justify-content-center">
            <div class="col-10">
                <% for (var i = 0; i < blogposts.length; i++) { %>

                <div class="card my-3">
                    <div class="card-header">
                        <a class="text-decoration-none" href="/posts/view_one/<%= blogposts[i]._id %>">
                            <p class="display-6"><%= blogposts[i].title %></h5>
                        </a>
                    </div>
                    <div class="card-body">                          
                        <p class="card-text">
                            <%= blogposts[i].body.substring(0, 200) + "..." %> 
                            <a href="/posts/view_one/<%= blogposts[i]._id %>" class="">Read more</a> 
                        </p>
                    </div>
                    <div class="card-footer">
                        <div class="text-muted">First Posted on <%= blogposts[i].date_posted %></div>
                    
                        <div class="text-muted">Post Updated on <%= blogposts[i].date_updated %></div>
                        
                        <div class="text-muted">Posted by <%= blogposts[i].userId.name %></div>
                    </div>
                </div>
                
                <% } %>
            </div>            
        </div>        
    </div>
    <!-- Footer-->
    <%- include('layouts/footer_new'); -%>
    <%- include('layouts/scripts_new'); -%>
</body>
</html>