<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> 
<html lang="zxx"> <!--<![endif]-->
<%- include('layouts/header_new'); -%>  
<body id="body">

<!--
Fixed Navigation
==================================== -->
<%- include('layouts/navbar_new'); -%>

<!--
Start About Section
==================================== -->
<section class="about-2 section bg-gray" id="about">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 align-self-center mb-4 mb-md-0">
                <div class="align-self-center">
                    <h2>A New Kind of Film Blog</h2>
                </div>
            </div>	
        </div>
    </div>
</section>

<!-- Start Testimonial
=========================================== -->
		
    <section class="testimonial section" id="testimonial">
        <div class="container">
            <div class="row">				
                <div class="col-lg-12">
                    <!-- testimonial wrapper -->
                    <div class="testimonial-slider">
                        <% for (var i = 0; i < blogposts.length; i++) { %>
                        <!-- testimonial single -->
                        <div class="item">
                            <div class="block">                             
                                <div class="post-preview">
                                    <a href="/posts/view_post/<%= blogposts[i]._id %>">
                                        <h2 class="post-title text-dark"><%= blogposts[i].title %></h2>
                                        <p class="post-meta">
                                            First Posted on <%= blogposts[i].date_posted %>
                                        </p>
                                        <p class="post-meta">
                                            Post Updated on <%= blogposts[i].date_updated %>
                                        </p>
                                        <% if (loggedIn) { %>
                                            <div class="d-flex mb-4"><a class="btn btn-primary text-uppercase" href="/posts/edit_existing_post/<%= blogposts[i]._id %>">Edit Post</a></div>
                                        <% } %>                             
                                    </a>                        
                                </div>                           						
                            </div>
                        </div>  
                        <% } %>  
                    </div>
                </div> 		<!-- end col lg 12 -->
            </div>	    <!-- End row -->
        </div>       <!-- End container -->
    </section>    <!-- End Section -->        
    <%- include('layouts/footer_new'); -%>
    <%- include('layouts/scripts_new'); -%>
</body>
</html>