<!DOCTYPE html>
<html lang="en">
    <%- include('layouts/header_new'); -%>  
    <body>
        <!-- Navigation-->
        <%- include('layouts/navbar_new'); -%>      

        <section class="contact-us section bg-gray" id="contact">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="title text-center">                            
                            <h2><%= message %></h2>
                            <a href="/" class="btn btn-main mt-20">Go Home</a>                    
                        </div>
                    </div>
                </div>       
                
            </div> <!-- end container -->
        </section> <!-- end section -->
        <!-- Footer-->
        <%- include('layouts/footer_new'); -%>
        <%- include('layouts/scripts_new'); -%>
    </body>
</html>