<!DOCTYPE html>
<html lang="en">
<%- include('../layouts/header_new'); -%>  
<body>
<!-- Navigation-->
<%- include('../layouts/navbar_new'); -%>
    
<!-- New content-->
<section class="signin-page account">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="block">
                    <h2 class="text-center">Login</h2>
                    <form class="text-left clearfix mt-50" action="/users/validate_login_user" method="POST">
                        <% if (locals.errors) { %>
                            <% for (var i = 0; i < errors.length; i++) { %>
                            <div class="alert alert-primary" role="alert">
                                <%= errors[i].msg %>
                            </div>
                            <% } %>
                        <% } %>                                
                        <div class="form-group">
                            <input type="text" class="form-control"  placeholder="Username" id="username" name="username">
                        </div>                                
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Password" id="password" name="password">
                        </div>                    
                        <button type="submit" class="btn btn-main" >Sign In</button>                                
                    </form>
                    <p class="mt-20">New in this site?<a href="/users/register_new_user"> Register</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- New content-->

<!-- Footer-->
<%- include('../layouts/footer_new'); -%>
<%- include('../layouts/scripts_new'); -%>
</body>
</html>
