<!doctype html>
<html lang="en">
<%- include('../layouts/header_new'); -%>  
<body class="d-flex flex-column">

    <main class="flex-shrink-0">
        <!-- Navigation-->
        <%- include('../layouts/navbar_new'); -%>
        <% if (locals.userMessage) { %>
            <div class="alert alert-success text-center" role="alert">
                <%= userMessage %>
            </div>
        <% } %>    
        <!-- Page content-->
        <section class="py-5">
            <div class="container px-5">
                <!-- Contact form-->
                <div class="bg-light rounded-3 py-5 px-4 px-md-5 mb-5">
                    <div class="text-center mb-5">                        
                        <h1 class="fw-bolder">Login</h1>                        
                    </div>
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-8 col-xl-6">
                            <% if (locals.errorMessages) { %>
                                <% for (var i = 0; i < errorMessages.length; i++) { %>
                                <div class="alert p-0 alert-primary" role="alert">
                                    <%= errorMessages[i].msg %>
                                </div>
                                <% } %>
                            <% } %> 
                            <form id="contactForm" action="/users/validate_login_user" method="POST">
                                <!-- Username input-->
                                <div class="form-floating mb-3">                                    
                                    <input class="form-control" id="username" name="username" type="text" placeholder="Username"/>
                                    <label for="username">Username</label>                                    
                                </div>
                                <!-- Password input-->
                                <div class="form-floating mb-3">                                    
                                    <input class="form-control" id="password" name="password" type="password" placeholder="Password"  />
                                    <label for="password">Password</label>                                    
                                </div>                                
                                <!-- Submit Button-->
                                <div class="d-grid"><button class="btn btn-primary btn-lg" id="submitButton" type="submit">Submit</button></div>
                            </form>
                        </div>
                    </div>
                </div>            
            </div>
        </section>
    </main>
    <%- include('../layouts/footer_new'); -%>
    <%- include('../layouts/scripts_new'); -%>
</body>
</html>
