<!doctype html>
<html lang="en">
<%- include('../layouts/header_new'); -%>  
<body>
    
    <!-- Navigation-->
    <%- include('../layouts/navbar_new'); -%>    

    <div class="container my-5">
      <div class="row justify-content-center">
        <div class="col-6">
          <div class="row">
            <h1 class="fw-bolder text-center">Your profile details</h1>       
          </div>
          <div class="row my-2">
            <div class="col-lg-4">
              <div class="">Name</div>
            </div>
            <div class="col-lg-8">
              <div class="border"><%= user.name%></div>
            </div>
          </div>
          <div class="row my-2">
            <div class="col-lg-4">
              <div class="">Email Address</div>
            </div>
            <div class="col-lg-8">
              <div class="border"><%= user.username%></div>
            </div>
          </div>
          <div class="row my-2">
            <div class="col-lg-4">
              <div class="mt-2">Date Registered</div>
            </div>
            <div class="col-lg-8">
              <div class="border"><%= user.date_account_created%></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('../layouts/footer_new'); -%>
    <%- include('../layouts/scripts_new'); -%>
</body>
</html>