<!doctype html>
<html lang="en">
<%- include('../layouts/header_new'); -%>  
<body>
    
        <!-- Navigation-->
        <%- include('../layouts/navbar_new'); -%>
        <!-- Page content-->
        <section class="py-5">
            <div class="container px-5">
                <!-- Contact form-->
                <div class="bg-light rounded-3 py-5 px-4 px-md-5 mb-5">
                    <div class="text-center mb-5">                        
                        <h1 class="fw-bolder">Create new Post</h1>                        
                    </div>
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-16 col-xl-12 text-center">    
                            <% if (locals.errorMessages) { %>
                                <% for (var i = 0; i < errorMessages.length; i++) { %>
                                <div class="alert p-0 alert-primary" role="alert">
                                    <%= errorMessages[i].msg %>
                                </div>
                                <% } %>
                            <% } %>                       
                            <form method="post" action="/posts/save_new_post">
                                <!-- Blog Title input-->
                                <div class="form-floating mb-3">     
                                    
                                    <input class="form-control" id="blog_title" name="blog_title" type="text" placeholder="Username"/>
                                    <label for="blog_title">Blog Title</label>                                    
                                </div>
                                <!-- Blog Content input-->
                                <div class="form-floating mb-3">   
                                    <div class="form-group">
                                        <textarea rows="6" placeholder="Blog Content" class="form-control" id="blog_content" name="blog_content"></textarea>	
                                    </div>                                                                                                                                        
                                </div>                                
                                <!-- Submit Button-->
                                <button class="btn btn-primary btn-lg" id="submitButton" type="submit">Create Post</button>                                
                                <a class="btn btn-primary btn-lg" href="/">Cancel</a>
                            </form>
                        </div>
                    </div>
                </div>            
            </div>
        </section>
    
    <!-- Footer-->
    <%- include('../layouts/footer_new'); -%>
    <%- include('../layouts/scripts_new'); -%>
</body>
</html>
