<!doctype html>
<html lang="en">
<%- include('../layouts/header_new'); -%>  
<body class="d-flex flex-column">
    
        <!-- Navigation-->
        <%- include('../layouts/navbar_new'); -%>
        <% if (locals.userMessage) { %>
            <div class="alert alert-success text-center" role="alert">
                <%= userMessage %>
            </div>
        <% } %>        
        <!-- Page Content-->

        <div class="container">        
            <div class="row justify-content-center">
                <div class="col-10">
                   
                    <div class="row py-3 my-3">
                        <p class="display-6 mb-1"><%= blogpost.title %></h1>
                        <div class="text-muted fst-italic mb-2">Created: <%= blogpost.date_posted %> by <%= blogpost.userId.name %></div>
                        <div class="text-muted fst-italic mb-2">Updated: <%= blogpost.date_updated %></div>
                        <p class="fs-5"><%- blogpost.body %></p>
                        <a href="/posts/edit/<%= blogpost._id %>">
                            <button class="btn btn-primary" type="submit">Edit Post</button>
                        </a>                        
                    </div>
                </div>            
            </div>        
        </div>    
    
    <!-- Footer-->
    <%- include('../layouts/footer_new'); -%>
    <%- include('../layouts/scripts_new'); -%>
</body>
</html>