<!doctype html>
<html lang="en">
<%- include('../layouts/header_new'); -%>  
<body class="d-flex flex-column">
    <main class="flex-shrink-0">
        <!-- Navigation-->
        <%- include('../layouts/navbar_new'); -%>
        <% if (locals.userMessage) { %>
            <div class="alert alert-success text-center" role="alert">
                <%= userMessage %>
            </div>
        <% } %>        
        <!-- Page Content-->
        <section class="py-5">            
            <div class="container px-5 my-5">
                <div class="row gx-5">
                    <div class="col-lg-3">
                        <div class="d-flex align-items-center mt-lg-5 mb-4">
                            <img class="img-fluid rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." />
                            <div class="ms-3">
                                <div class="fw-bold">Valerie Luna</div>
                                <div class="text-muted">News, Business</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <!-- Post content-->
                        <article>
                            <!-- Post header-->
                            <header class="mb-4">
                                <!-- Post title-->
                                <h1 class="fw-bolder mb-1"><%= blogpost.title %></h1>
                                <!-- Post meta content-->
                                <div class="text-muted fst-italic mb-2">Created: <%= blogpost.date_posted %></div>
                                <div class="text-muted fst-italic mb-2">Updated: <%= blogpost.date_updated %></div>
                            </header>                            
                            <!-- Post content-->
                            <section class="mb-5">
                                <p class="fs-5 mb-4"><%= blogpost.body %></p>                                
                            </section>
                            <section class="mb-5">
                                <a class="btn btn-primary text-uppercase" href="/posts/edit_existing_post/<%= blogpost._id %>">
                                    Edit Post
                                </a>                            
                            </section>
                        </article>                 
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- Footer-->
    <%- include('../layouts/footer_new'); -%>
    <%- include('../layouts/scripts_new'); -%>
</body>
</html>